.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-base);
}

.title {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.025em;
}
