name: publish web

on:
    workflow_dispatch:
    push:
        branches: [main]
        paths: ["web/**"]

jobs:
    build:
        runs-on: ubuntu-24.04-arm

        steps:
            - uses: actions/checkout@v4

            - name: Log in to Azure Container Registry
              uses: azure/docker-login@v2
              with:
                  login-server: ${{ secrets.ACR_LOGIN_SERVER }}
                  username: ${{ secrets.ACR_USER }}
                  password: ${{ secrets.ACR_PASS }}

            - name: Build image
              uses: redhat-actions/buildah-build@v2
              with:
                  image: datamonster-web
                  tags: latest ${{ github.sha }}
                  containerfiles: ./web/Containerfile
                  context: ./web
                  platforms: linux/arm64

            - name: Push image
              uses: redhat-actions/push-to-registry@v2
              with:
                  image: datamonster-web
                  tags: latest ${{ github.sha }}
                  registry: ${{ secrets.ACR_LOGIN_SERVER }}
