name: publish web

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths: ["web/**"]

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Generate image tag
        id: tag
        run: echo "tag=$(date +'%Y.%m.%d')-${{ github.run_number }}" >> $GITHUB_OUTPUT

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Increase file descriptor limit
        run: |
          ulimit -n 65536
          ulimit -n

      - name: Build image
        uses: redhat-actions/buildah-build@v2
        with:
          image: datamonster-web
          tags: latest ${{ steps.tag.outputs.tag }}
          containerfiles: ./web/Containerfile
          context: ./web
          platforms: linux/arm64

      - name: Push image
        uses: redhat-actions/push-to-registry@v2
        with:
          image: datamonster-web
          tags: latest ${{ steps.tag.outputs.tag }}
          registry: ghcr.io/failuretoload
