name: validate api

on:
  pull_request:
    branches: [main]
    paths:
      - "api/**"

jobs:
  test:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.5"
          cache-dependency-path: api/go.sum

      - name: Run tests
        working-directory: ./api
        run: go test -v ./...
