:80 {
    handle /auth/* {
        reverse_proxy datamonster-api.datamonster.svc.cluster.local:8080
    }

    handle /api/* {
        reverse_proxy datamonster-api.datamonster.svc.cluster.local:8080
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
