:80 {
    handle /auth/* {
        reverse_proxy 127.0.0.1:8080
    }

    handle /api/* {
        reverse_proxy 127.0.0.1:8080
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
